body {
    background-color: #FFF3E2;
}

p {
    margin: 0;
}

.row {
    margin: 0;
    /* border: 1px solid black; */
}

/* .col-lg-4, .col-lg-8 {
    border: 1px solid red;
} */

.navbar-collapse {
    justify-content: space-evenly;
}

.brand-logo {
    height: 10vh;
}

.nav-container {
    padding: 0 15vw 0 15vw;
}

.btn-book {
    font-family: 'Borel', cursive;
    font-size: 25px;
    padding: 20px 10px 0 10px;
    width: auto;
    text-align: center;
}

.nav-link {
    margin-right: 1.75vw;
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    font-weight: 700;
    color: #FA9884;
    text-decoration: none;
}

.navbar-nav {
    --bs-nav-link-hover-color: #E74646;
    padding-left: 32px;
}

.nav-link:hover, .navbar-nav .nav-link.active {
    color: #E74646;
}



.btn-secondary {
    --bs-btn-color: #FFF3E2;
    --bs-btn-bg: #E74646;
    --bs-btn-hover-color: #FFF3E2;
    --bs-btn-hover-bg: #FA9884;
    --bs-btn-active-color: #E74646;
    --bs-btn-active-bg: #FFF3E2;
}

.landing-area {
    /* background-color: #FFF3E2;
    height: 100vh; */
    padding-top: 8vh;
}

.text-area{
    padding-top: 10vh;
}

.your-day-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 10vw;
    color: #FA9884;
    /* margin-top: 50px; */
}

.productive-text {
    font-family: 'Borel', cursive;
    font-size: 12vw;
    color: #FA9884;
    padding-top: 20px;
    height: auto;

    /* text-transform: uppercase; */
  background-image: linear-gradient(
    225deg,
    #FA9884 0%,
    /* #44107a 29%,
    #ff1361 67%, */
    #FFF3E2 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #FFF3E2;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  /* display: inline-block; */
}

@keyframes textclip {
    to {
      background-position: -200% center;
    }
}

.carousel-item {
    position: relative;
    /* display: none; */
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
    text-align: center;
}

.image-size {
    margin-top: 5vh;
    height: 300px;
    width: 300px;
    /* margin-left: 41.71vw; */
}

.carousel-caption {
    position: relative;
    right: 0;
    margin-top: 5vh;
    bottom: 1.25rem;
    left: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #E74646;
    text-align: center;
}

h5 {
    font-family: 'Borel', cursive;
    font-size: 40px;
}

.carousel-indicators {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    /* margin-right: 15%; */
    /* margin-bottom: 1rem; */
    /* margin-left: 15%; */
}

.carousel-indicators li, .carousel-indicators [data-bs-target] {
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: relative;
    margin: 10px;

    box-sizing: content-box;
    flex: 0 1 auto;
    padding: 0;
    margin-right: 3px;
    /* margin-top: 7vh; */
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    /* background-color: #fff; */
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-indicators li.active {
    opacity: 1;
}

.carousel-indicators img {
    position: absolute;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}

.card-area {
    margin-top: 3vh;
    padding: 0 15vw 0 15vw;
}

.card {
    margin: 0;
}

.content {
    position: relative;
    font-family: 'Luckiest Guy', cursive;
    display: flex;
    justify-content: center;
}

.for-as-text {
    font-family: 'Borel', cursive;
    font-size: 50px;
    padding: 3vh 0 0 5vw;
    color: #FA9884;
}

.php-kg-text {
    font-family: 'Crimson Text', serif;
    font-size: 80px;
    font-weight: 700;
    color: #E74646;
    margin-top: 320px;
}

.content h2 {
    color: #E74646;
    font-size: 400px;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    width: auto;
    height: auto;
}

.content h2:nth-child(1) {
    color: #FFE5CA;
    -webkit-text-stroke: 2px #E74646;
}

.content h2:nth-child(2) {
    color: #E74646;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
        );
    }

    50% {
        clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
        );
    }
}

.details-area {
    margin-top: 50px;
    text-align: center;
    align-items: center;
}

.items {
    font-family: 'Borel', cursive;
    font-size: 35px;
    padding: 15px 0 0 0;
    color: #FA9884;
}

.card {
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.card-body {
    margin-left: 10vw;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 15%;
    padding: 0;
    color: #FA9884;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

@media (max-width: 720px) {
    .navbar-collapse {
        text-align: center;
    }

    .your-day-text {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 10vh;
        color: #FA9884;
    }
    
    .productive-text {
        font-family: 'Borel', cursive;
        font-size: 10vw;
        color: #FA9884;
        padding-top: 20px;
        height: auto;
    }

    .content {
        position: relative;
        display: flex;
        justify-content: center;
        font-family: 'Luckiest Guy', cursive;
    }

    .content h2 {
        color: #E74646;
        font-size: 200px;
        position: absolute;
        /* transform: translate(-50%, -50%); */
        width: auto;
        height: auto;
    }

    .price-text {
        padding: 0;
    }

    .php-kg-text {
        font-size: 50px;
        margin-top: 150px;
    }

    .for-as-text {
        font-size: 30px;
        justify-content: center;
        display: flex;
        padding: 0;
    }

    .btn-div {
        justify-content: center;
        display: flex;
        margin-left: 20px;
    }

    .details-area {
        margin-top: 20px;
    }

    .items {
        font-size: 25px;
    }
}